*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(53, 63, 68);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-title{
    max-width: 1200px;
    font-size: 3.5rem;
    color: rgb(20, 201, 156);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
    margin-top: 50PX;
}
.container-sub-title{
    max-width: 1200px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: rgb(20, 201, 156);
    font-family:cursive ;
    font-weight: 400;
    font-style: oblique;
    margin-top: 70PX;
}
.container-img-dados{
    max-width: 1200px;
    display: flex;
    gap: 100px;
    margin: 50px 0 50px 0;
}
.container-img-dados img{
    width: 200px;
}
.container-control{
    max-width: 1200px;
    display: flex;
    gap: 130px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.control{
    width: 100px;
    height: 30px;
    background-color: rgb(9, 9, 102);
    color: rgb(22, 190, 22);
    border-radius: 10px;
}
.container-rodape{
    max-width: 1200px;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #FFFFFF;
    margin-top: 130px;
}
